{% extends 'base.html' %}

{% block content %}

<!-- Request is attached to all templates thanks to django, in settings.py -->
{% if not request.user.is_authenticated %}
<div>
    <form method="POST">{% csrf_token %}
        {{ form.as_p}}
        <button type="submit">Register</button>
    </form>
    <p>Already have an account? <a href="/login">Login</a></p>
</div>
{% else %}
<p>You're already logged in and cannot register. would you like to <a href="/logout/">logout</a>?</p>
{% endif %}

{% endblock %}