{% extends 'base.html' %}

{% block content %}
{% if not created %}
    <div style="margin-top: 30px;">
        <form action="." method="POST">
            {% csrf_token %}
            <input type="text" placeholder="Title" name="title">
            <br>
            <textarea name="content" placeholder="Content" cols="30" rows="10"></textarea>
            <br>
            <button type="submit">Create Article</button>
        </form>
    </div>
{% else %}
<p>Your article was created:</p>
<a href="/article/{{ object.id }}/">{{ object.title }} - {{ object.content }}</a>
{% endif %}
{% endblock content %}