<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django Tutorial</title>
</head>

<body>
    <h1>Django Tutorial</h1>
    <form action="/article/" method="GET">
        <input type="text" name="query">
        <button type="submit">Search</button>
    </form>

    <div>
        {% block content %}

        {% endblock content%}
    </div>
</body>

</html>